{% extends 'main/base.html' %}

{% block body  %}
<div id="articles-category">
    <h3>Категории</h3>
    <ul>
        <a href=""><li>Пещеры</li></a>
        <a href=""><li>Озера</li></a>
        <a href=""><li>Горы</li></a>
    </ul>
</div>

<div id="articles-main">
    <h2>Статьи по категори Горы</h2>
    <h4>Автор статьи Эмиль Рахимов</h4>
    {% for p in posts %}
    <p>Время создания: {{p.time_create }}</p>
    <p>Время последнего обновления:{{p.time_update}}</p>
    <h1>{{p.title}}</h1>
    <p>{{p.content}}</p>
    {% endfor  %}
</div>
{% endblock  %}