{% extends 'main/base.html' %}
{% load static %}
{% load i18n static djeymtags %}

{% block body  %}
<div class="container-fluid">
    <div class="row">
        <!--Список категорий-->
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-12"">
            <div id="articles-category">
                <h3><a href="{% url 'articles' %}">Категории</a></h3>
                <ul>
                    {% for c in categories %}
                    <li><a href="{{ c.get_absolute_url }}">{{ c.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        <!--Статьи -->
        <div class="col-lg-10 col-md-10 col-sm-9 col-xs-12">
            <div id="articles-main">
                <h1 style="text-align:center">Статья</h1>
                <div class="articles-detail-block">
                    <div class="articles-main-block-head">
                        <div class="articles-autor">
                            <ul>
                                <li>Автор статьи:<a style="color: #b477f6" href="{% url 'profile' posts.autor.id %}"> {{posts.autor }}</a></li>
                                {% if posts.autor.profile.avatar %}
                                <li style="margin-left: 10px;"><a href="{% url 'profile' posts.autor.id %}"><img class="avatar" src="{{ posts.autor.profile.avatar.url }}" height=30 width=30></a></li>
                                {% else %}
                                <li style="margin-left: 10px;"><img class="avatar" src="{% static 'main/img/defaut_avatar.png' %}" height=30 width=30 ><li>
                                {% endif %}
                            </ul>
                        </div>
                        <p style="text-align:right;">Создана: {{posts.time_create }}</p>
                        <p style="text-align:right;">Обновлено: {{posts.time_update}}</p>
                    </div>

                    <h3>{{p.title}}</h3>
                    <img src="{{ posts.photo.url }}" width=100% height=300px >
                    <p>{{posts.content|linebreaks}}</p>
                </div>
            </div>

            <!--Форма для отправки комментария-->
            <h1 style="text-align:center;">Оставить комментарий</h1>
            <div class="articles-add-comment">
                {% if request.user.is_authenticated %}
                <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {% for f in comments_form %}
                <p>{{ f }}</p>
                {% endfor %}
                <button class="btn btn-warning" type="submit">Отправить</button>
                </form>
                {% else %}
                <p>Вы не авторизованы, авторизуйтесь!</p>
                {% endif %}
            </div>

            <!--Комментарии-->
            {% for c in comments %}
            <div class="articles-detail-block">
                <div class="articles-autor">
                    <ul>
                        <li>Автор комментария:</li><a style="color: #b477f6" href="{% url 'profile' c.autor.id %}">    {{ c.autor }}</a>
                        {% if c.autor.profile.avatar %}
                        <li><a style="color: #b477f6" href="{% url 'profile' c.autor.id %}">    <img class="avatar" src="{{ c.autor.profile.avatar.url }}" height=30 width=30></a></li>
                        {% else %}
                        <li>{{ c.autor }}</li>
                        <img class="avatar" src="{% static 'main/img/defaut_avatar.png' %}" height=30 width=30 ><br><br>
                        {% endif %}
                    </ul>
                </div>
            <p style="text-align:right;">{{ c.time_create }}</p>
            <p>Комментарий: <br> {{ c.content }}</p>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock  %}