{% extends 'main/base.html' %}
{% load static %}
{% load i18n static djeymtags %}

{% block body %}
<style>
::-webkit-scrollbar {
  width: 0;
}
</style>

<!--Кнопки взаимодействия с картой-->
<div class="djeym-button-bar">
  <button id="djeym-open-panel" type="button" class="open-panel-button">
    <span class="mdi mdi-arrow-expand-right"></span>
    Открыть панель
  </button>
  <button id="djeym-add-marker" type="button" class="add-marker-button">
    <span class="mdi mdi-map-marker-plus"></span>
    Добавить маркер
  </button>
</div>

<!--Карта-->
<div id="djeym-app" class="djeym"></div>
<script type="text/javascript" src="{% static "djeym/js/jquery.min.js" %}"></script>
<script src="{% static "djeym/js/jquery-regex.min.js" %}"></script>
{% djeym_yandex_map slug='karta' lang=request.LANGUAGE_CODE %}
{% endblock  %}