{% extends 'main/base.html' %}
{% load static%}

{% block body %}
<div class="about-block">
<ul>
    <h1>Профиль</h1>
    {% if profile.avatar %}
    <img src="{{ profile.avatar.url }}" height=100 width=100><br><br>
    {% else %}
    <img src="{% static 'main/img/defaut_avatar.png' %}" height=100 width=100><br><br>
    {% endif %}
    <li>Дата регистрации: {{ profile.user.date_joined }}</li>
    <li>Последний вход: {{ profile.user.last_login }}</li>
    <li>Логин: {{ profile.user.username }}</li>
    <li>Логин: {{ profile.user.last_name }}</li>
    <li>Имя пользователя: {{ profile.user.first_name }}</li>
    <li>Местоположение: {{ profile.location }}</li>
</ul>
</div>

<div class="about-block">
<ul>
    <h1>Статьи пользователя {{ profile.user.username }}</h1>

</ul>
</div>

{% endblock body %}